# communication config file , one child process for each line
# section 1:    process type
#               S: sender
#               R: receiver
# section 2:    local/remote IP address
# section 3:    local/remote ports
# section 4:    persist_switch
#               1: turn on trasaction persistence
#               0: turn off trasaction persistence
# examples:
[S][127.0.0.1][4568][1]
[S][127.0.0.1][4569][1]
[R][127.0.0.1][4568][1]
[R][127.0.0.1][4569][1]
