# packing configuration file , one child process for one line
# section 1 :   template file name , based on $PRESS_HOME/data/tpl
# section 2 :   substution rule file name , based on $PRESS_HOME/data/rule
# section 3 :   sending speed , transaction per second
# section 4 :   total time
[1000.tpl][1000.rule][10][300]
[1000.tpl][1000.rule][20][300]
