# MSGKEY for command
MSGKEY_CMD=18000
# MSGKEY for outgoing queue
MSGKEY_OUT=18001
# MSGKEY for incoming queue
MSGKEY_IN=18002
# idle message interval , set to 0 for no idle message
HEART_INTERVAL=0
#log_level 0-LOGNON , 1-LOGFAT , 2-LOGERR , 3-LOGWAN , 4-LOGINF , 5-LOGADT , 6-LOGDBG
LOGLEVEL=4
#encoding for persistence , A for Ascii , H for hex
ENCODING=A
#number of catching processes
CATCHER_NUM=3
